body {
    background-color: #02010a;
    font-family: 'Dancing Script';
    align-content: center;
}

#contenido {
    width: 900px;
}

header {
    width: 100%;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

header h1 {
    text-shadow: 2px 2px #02010a;    
}

header nav{
 
}

#central {
    background-color:  #82c3a6;
    text-align: center;
}

#central img{
    width: 80%;
}

#secundario {
    background-color: #d5c75f;
    border: 1px solid black;
}

#secundario img{
    width: 50%;    
}

footer {
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
}

footer img {
    width: 2%;
   -webkit-box-shadow: 0px 0px 0px 0px #02010a;
    -moz-box-shadow: 0px 0px 0px 0px #02010a;
    box-shadow: 0px 0px 0px 0px #02010a;
}


/*efectos de imagenes*/

img {
    -webkit-box-shadow: 2px 2px 0px 0px #02010a;
    -moz-box-shadow: 2px 2px 0px 0px #02010a;
    box-shadow: 2px 2px 0px 0px #02010a;
}

.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.grises {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.sepia {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


/*para PC*/

@media(min-width:900px) {
    #contenido {
        width: 900px;
    }
}


/*para moviles*/

@media(max-width:899px) {
    #contenido {
        width: 100%;
    }
}
