body {
    background-color: #02010a;
    font-family: 'Dancing Script';
    margin-top: 0;
}

header {
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding-top: 2%;
    animation: saltar 1s;
}

header h1 {
    text-shadow: 2px 2px #02010a;
}

header nav {
    font-size: 20px;
}

header nav a {
    color: white;
    padding: 0px 10px 0px 10px;
}

header nav a:visited {
    color: white;
    text-decoration: none;
}

.actual {
    text-decoration: none;
}


/*mediadas de los paneles centrales*/

#central {
    background-color: #82c3a6;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#central img {
    width: 80%;
}

#secundario {
    display: flex;
    flex-direction: row;
    background-color: #d5c75f;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2%;
}

#secundario a {
    font-size: 20px;
    color: black;
}

#secundario a: visited {
    color: black;
}

footer {
    width: 100%;
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    float: left;
    padding: 0% 2% 0% 2%;
}

footer div img {
    width: 15px;
    -webkit-box-shadow: 0px 0px 0px 0px #02010a;
    -moz-box-shadow: 0px 0px 0px 0px #02010a;
    box-shadow: 0px 0px 0px 0px #02010a;
}


/*efectos de imagenes*/

img {
    /*sombras*/
    -webkit-box-shadow: 2px 2px 0px 0px #02010a;
    -moz-box-shadow: 2px 2px 0px 0px #02010a;
    box-shadow: 2px 2px 0px 0px #02010a;
}


/*transition imagenes*/

#secundario img {
    transition-property: all;
    transition-duration: 1s;
}

#paisajes img:hover {
    -webkit-box-shadow: 2px 2px 0px 0px #82c3a6;
    -moz-box-shadow: 2px 2px 0px 0px #82c3a6;
    box-shadow: 2px 2px 0px 0px #82c3a6;
    transform: rotateZ(10deg);
    transition-property: all;
    transition-duration: 1s;
}

#retratos img:hover {
    -webkit-box-shadow: 2px 2px 0px 0px #82c3a6;
    -moz-box-shadow: 2px 2px 0px 0px #82c3a6;
    box-shadow: 2px 2px 0px 0px #82c3a6;
    transform: translate3d(20px, -5px, 0px);
    transition-property: all;
    transition-duration: 1s;
}


/*filtros imagenes*/

.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.grises {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.sepia {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


/*Animacion header*/

@-webkit-keyframes saltar {
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}


/*para PC*/

@media(min-width:900px) {
    #contenido {
        width: 900px;
        margin: 0 auto;
    }
    header {
        display: flex;
        flex-direction: row;
    }
    header h1 {
        width: 50%;
        padding-left: 3%;
        order: 1;
    }
    header nav {
        width: 50%;
        margin-top: 3%;
        padding-right: 3%;
        text-align: right;
        order: 2;
    }
    /*distribucion de cajas*/
    #paisajes {
        padding-bottom: 2%;
        order: 1;
    }
    #retratos {
        order: 2;
    }
    #paisajes img,
    #retratos img {
        width: 80%;
    }
    footer div {
        width: 25%;
        float: left;
    }
}


/*para moviles*/

@media(max-width:899px) {
    #contenido {
        width: 100%;
        margin: 0 auto;
    }
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header h1 {
        padding: 0% 5% 0% 5%;
        order: 1
    }
    header nav {
        text-align: center;
        padding-bottom: 2%;
        order: 2;
    }
    #secundario {
        display: flex;
        flex-direction: column;
    }
    /*distribucion de cajas*/
    #paisajes {
        padding-bottom: 5%;
        order: 1;
    }
    #retratos {
        padding-bottom: 2%;
        order: 2;
    }
    #paisajes img,
    #retratos img {
        width: 80%;
    }
    footer div {
        width: 100%;
    }
}
